# Loops o bucles en Python
#### for i in range(1, 6): define un loop que se ejecutará 5 veces, con i tomando valores desde 1 hasta 5 (el valor final de 6 en range no está incluido).
#### : indica el inicio del bloque de código que se ejecutará en cada iteración del loop.
#### print(i) imprime el valor actual de i.
#### La indentación (espacios en blanco antes de print(i)) indica el final del bloque de código.

In [5]:
for i in range(1, 20):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [8]:
##Iterar con texto

nombres = ["Carmen", "Leslie", "Joaquin", "Fermin","Max","Victor","Jan","Cecilia",
           "Katherine","Ninoshka","Karen","Sebastían","Valentina"]

for nombre in nombres:
    mensaje = f"Bienvenide {nombre} al curso de DataManaging.Tome asiento"
    print(mensaje)

Bienvenide Carmen al curso de DataManaging.Tome asiento
Bienvenide Leslie al curso de DataManaging.Tome asiento
Bienvenide Joaquin al curso de DataManaging.Tome asiento
Bienvenide Fermin al curso de DataManaging.Tome asiento
Bienvenide Max al curso de DataManaging.Tome asiento
Bienvenide Victor al curso de DataManaging.Tome asiento
Bienvenide Jan al curso de DataManaging.Tome asiento
Bienvenide Cecilia al curso de DataManaging.Tome asiento
Bienvenide Katherine al curso de DataManaging.Tome asiento
Bienvenide Ninoshka al curso de DataManaging.Tome asiento
Bienvenide Karen al curso de DataManaging.Tome asiento
Bienvenide Sebastían al curso de DataManaging.Tome asiento
Bienvenide Valentina al curso de DataManaging.Tome asiento

In [2]:
# Definimos la función square
def square(x):
    return x ** 2

# Creamos una lista con algunos números
numeros = [1, 2, 3, 4, 5]

# Aplicamos la función square a cada número en la lista usando un loop for
for i in range(len(numeros)):
    resultado = square(numeros[i])
    print("El cuadrado de", numeros[i], "es", resultado)

El cuadrado de 1 es 1
El cuadrado de 2 es 4
El cuadrado de 3 es 9
El cuadrado de 4 es 16
El cuadrado de 5 es 25

### En este caso, hemos utilizado la función range() para generar una secuencia de números que van desde 0 hasta la longitud de la lista numeros, y luego hemos utilizado un loop for para iterar sobre esos números. Dentro del loop, aplicamos la función square() a cada número en la lista y utilizamos la función print() para mostrar el resultado. En el segundo loop, simplemente imprimimos el índice de cada elemento en la lista.

### Aplicación a un problema en el mundo real:

Qué pasa si tenemos multiples archivos distintos, pero con la misma estructura, y debemos depurarlos y aplicar expresiones regulares para poder trabajarlos? Podemos crear un patrón y aplicarlo en loop a todos los archivos?

In [2]:
###Importar csv, y archivos excel
import pandas as pd

###Juguemos con los datos de la tarea?


df=pd.read_csv("/Users/nicolassegovia/Dropbox/CLASES/DataManaging/Clase3/data/forLooping/report_31_20221216_flota_artesanal.csv",sep=";")


df.head()

,Name,Radio Call Sign (RC),Location date,Latitude,Longitude,Heading,Speed (kt)
0,HURACAN I (ART),CB7014,15/12/2022 11:17:01,-42.1618,-73.3389,301.0,0.99 kt
1,HURACAN I (ART),CB7014,15/12/2022 11:32:01,-42.1604,-73.3427,321.0,6.99 kt
2,HURACAN I (ART),CB7014,15/12/2022 11:47:01,-42.1349,-73.3633,353.0,7.50 kt
3,HURACAN I (ART),CB7014,15/12/2022 12:02:01,-42.1324,-73.3625,0.0,0.00 kt
4,HURACAN I (ART),CB7014,15/12/2022 12:17:01,-42.1270,-73.3640,351.0,6.99 kt

In [3]:
##Cómo podemos modificar el nombre de las embarcaciones?
##Forma 1 cada señal de radio es única, podemos usarlo a nuestro favor a pesar de no necesitar esa columna

import pandas as pd
import re

# Definir la expresión regular
regex = r"^([A-Z]{2}).*;\w+(\d{4})$"

# Aplicar la expresión regular a las columnas Mobile y Radio Call Sign del DataFrame
df["Name"] = df.apply(lambda row: re.sub(regex, r"\1_\2", row["Name"] + ";" + row["Radio Call Sign (RC)"]), axis=1)

# Eliminar la columna Radio Call Sign y heading del DataFrame
df.drop(columns=["Radio Call Sign (RC)"], inplace=True)
df.drop(columns=["Heading"], inplace=True)

# Mostrar el resultado
print(df)

          Name        Location date  Latitude  Longitude Speed (kt)
0      HU_7014  15/12/2022 11:17:01  -42.1618   -73.3389    0.99 kt
1      HU_7014  15/12/2022 11:32:01  -42.1604   -73.3427    6.99 kt
2      HU_7014  15/12/2022 11:47:01  -42.1349   -73.3633    7.50 kt
3      HU_7014  15/12/2022 12:02:01  -42.1324   -73.3625    0.00 kt
4      HU_7014  15/12/2022 12:17:01  -42.1270   -73.3640    6.99 kt
...        ...                  ...       ...        ...        ...
10779  MA_8415  16/12/2022 10:26:37  -26.9685   -70.8693    9.00 kt
10780  MA_8415  16/12/2022 10:34:37  -26.9524   -70.8781    8.49 kt
10781  MA_8415  16/12/2022 10:42:37  -26.9331   -70.8791    9.00 kt
10782  MA_8415  16/12/2022 10:50:37  -26.9141   -70.8826    9.00 kt
10783  MA_8415  16/12/2022 10:58:37  -26.8952   -70.8851    8.00 kt

[10784 rows x 5 columns]

In [4]:
##dejemos solo dos decimales para latitude y longitude.

df["Latitude"] = df["Latitude"].round(2)
df["Longitude"] = df["Longitude"].round(2)

df.head()

      Name        Location date  Latitude  Longitude Speed (kt)
0  HU_7014  15/12/2022 11:17:01    -42.16     -73.34    0.99 kt
1  HU_7014  15/12/2022 11:32:01    -42.16     -73.34    6.99 kt
2  HU_7014  15/12/2022 11:47:01    -42.13     -73.36    7.50 kt
3  HU_7014  15/12/2022 12:02:01    -42.13     -73.36    0.00 kt
4  HU_7014  15/12/2022 12:17:01    -42.13     -73.36    6.99 kt

In [5]:
##ahora para el formato de la fecha. Podemos aplicar la misma expresion regular. 
##primero debemos definirla

# aplicar la expresión regular y el reemplazo en la columna "Date"
df['Location date'] = df['Location date'].str.replace(r'\d+/(\d+)/(\d+)\s.+', r'\1-\2')

df.head()

<ipython-input-5-c344e0725eef>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Location date'] = df['Location date'].str.replace(r'\d+/(\d+)/(\d+)\s.+', r'\1-\2')

      Name Location date  Latitude  Longitude Speed (kt)
0  HU_7014       12-2022    -42.16     -73.34    0.99 kt
1  HU_7014       12-2022    -42.16     -73.34    6.99 kt
2  HU_7014       12-2022    -42.13     -73.36    7.50 kt
3  HU_7014       12-2022    -42.13     -73.36    0.00 kt
4  HU_7014       12-2022    -42.13     -73.36    6.99 kt

In [6]:
##re ordenar columnas

df = df.reindex(columns=["Name", "Latitude", "Longitude","Location date","Speed (kt)"])

df.head()

      Name  Latitude  Longitude Location date Speed (kt)
0  HU_7014    -42.16     -73.34       12-2022    0.99 kt
1  HU_7014    -42.16     -73.34       12-2022    6.99 kt
2  HU_7014    -42.13     -73.36       12-2022    7.50 kt
3  HU_7014    -42.13     -73.36       12-2022    0.00 kt
4  HU_7014    -42.13     -73.36       12-2022    6.99 kt

¿Es posible loopear todo?

In [14]:
import pandas as pd
import re
import os
import glob


# Obtener una lista de todos los archivos .csv en la carpeta
folder_path = "/Users/nicolassegovia/Dropbox/CLASES/DataManaging/Clase3/data/forLooping/" # Reemplazar con la ruta de la carpeta
csv_files = glob.glob(os.path.join(folder_path, "*.csv"))

print(csv_files)

['/Users/nicolassegovia/Dropbox/CLASES/DataManaging/Clase3/data/forLooping/report_31_20221226_flota_artesanal.csv', '/Users/nicolassegovia/Dropbox/CLASES/DataManaging/Clase3/data/forLooping/report_31_20221227_flota_artesanal.csv', '/Users/nicolassegovia/Dropbox/CLASES/DataManaging/Clase3/data/forLooping/report_31_20221224_flota_artesanal.csv', '/Users/nicolassegovia/Dropbox/CLASES/DataManaging/Clase3/data/forLooping/report_31_20221225_flota_artesanal.csv', '/Users/nicolassegovia/Dropbox/CLASES/DataManaging/Clase3/data/forLooping/report_31_20221223_flota_artesanal.csv', '/Users/nicolassegovia/Dropbox/CLASES/DataManaging/Clase3/data/forLooping/report_31_20221222_flota_artesanal.csv', '/Users/nicolassegovia/Dropbox/CLASES/DataManaging/Clase3/data/forLooping/report_31_20221221_flota_artesanal.csv', '/Users/nicolassegovia/Dropbox/CLASES/DataManaging/Clase3/data/forLooping/report_31_20221220_flota_artesanal.csv', '/Users/nicolassegovia/Dropbox/CLASES/DataManaging/Clase3/data/forLooping/report_31_20221231_flota_artesanal.csv', '/Users/nicolassegovia/Dropbox/CLASES/DataManaging/Clase3/data/forLooping/report_31_20221228_flota_artesanal.csv', '/Users/nicolassegovia/Dropbox/CLASES/DataManaging/Clase3/data/forLooping/report_31_20221230_flota_artesanal.csv', '/Users/nicolassegovia/Dropbox/CLASES/DataManaging/Clase3/data/forLooping/report_31_20221229_flota_artesanal.csv', '/Users/nicolassegovia/Dropbox/CLASES/DataManaging/Clase3/data/forLooping/report_31_20221219_flota_artesanal.csv', '/Users/nicolassegovia/Dropbox/CLASES/DataManaging/Clase3/data/forLooping/report_31_20221218_flota_artesanal.csv', '/Users/nicolassegovia/Dropbox/CLASES/DataManaging/Clase3/data/forLooping/report_31_20221217_flota_artesanal.csv', '/Users/nicolassegovia/Dropbox/CLASES/DataManaging/Clase3/data/forLooping/report_31_20221216_flota_artesanal.csv']

In [16]:
# Iterar a través de los archivos y aplicar la expresión regular y otras funciones a cada uno

# Definir la expresión regular
regex = r"^([A-Z]{2}).*;\w+(\d{4})$"

# Iterar a través de los archivos y aplicar la expresión regular y otras funciones a cada uno
for file in csv_files:
    # 1 Leer el archivo en un DataFrame de Pandas
    df = pd.read_csv(file,sep=";")
    
    # 2 Aplicar la expresión regular a las columnas Name y Radio Call Sign
    df["Name"] = df.apply(lambda row: re.sub(regex, r"\1_\2", row["Name"] + ";" + row["Radio Call Sign (RC)"]), axis=1)
    
    # 3 Redondear las columnas Latitude y Longitude a dos decimales
    df["Latitude"] = df["Latitude"].round(2)
    df["Longitude"] = df["Longitude"].round(2)
    
    # 4 Aplicar la expresión regular a la columna Location date
    df['Location date'] = df['Location date'].str.replace(r'\d+/(\d+)/(\d+)\s.+', r'\1-\2')
    
    # 5 Eliminar la columna Radio Call Sign y heading del DataFrame
    df.drop(columns=["Radio Call Sign (RC)"], inplace=True)
    df.drop(columns=["Heading"], inplace=True)
    
    # 6 Reordenar las columnas del DataFrame
    df = df.reindex(columns=["Name", "Latitude", "Longitude","Location date","Speed (kt)"])
    
    # 7 Guardar el DataFrame modificado en un nuevo archivo con un sufijo "_modified"
    archivos_nuevos = os.path.splitext(file)[0] + "_modificado.csv"
    df.to_csv(archivos_nuevos, index=False)

<ipython-input-16-bb472aea14d5>:19: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Location date'] = df['Location date'].str.replace(r'\d+/(\d+)/(\d+)\s.+', r'\1-\2')